/* CSS for Quiz 1 - Part 1 */

/* For this part of the quiz, build the CSS to render the HTML to match
the screenshot provided. */

html{background-color:blue;}

main{background-color:white;}

header{ font-family: "arial";
        background-color:red;
        border: 10px solid red;}

body{padding: 10px solid lavender;
    border: 30px solid lavender;
    margin: 30px;}

footer{ font-style:italic;
        text-align:right;
        background-color:lavender;
        border: 20px solid lavender;}

main{border-style: dotted;
    border-color:blue;}