#square1,#square2 {
    width: 300px;
    height: 300px;
}
#square1{
    background-color:rgb(100,20,30);
}
#square2{
    background-color:rgb(0,0,0);
}
div {
    text-align: center;
    margin: auto;
    
}
button {
    width: 200px;
}