div {
    display: block;
    float:left;
    position: relative;
    padding-bottom: 100px;
    padding-left: 100px;
    margin: 10px;
}
#container{
    margin: auto;
}
#square1{
    background-color: rgb(1,1,1);    
}
#square2{
    background-color: rgb(220,1,1);
}
#square3{
    background-color: rgb(160,1,154);
}
#square4{
    background-color: rgb(134,10,121);
    top: 125px;
    right: 360px;
}
#square5{
    background-color: rgb(18,100,41);
    top: 125px;
    right: 360px;       
}
#square6{
    background-color: rgb(144,16,10);
    top: 125px;
    right: 360px;
}
#square7{
    background-color: rgb(1,1,100);
    top: 250px;
    right: 720px;
}
#square8{
    background-color: rgb(201,10,180);
    top: 250px;
    right: 720px;
}
#square9{
    background-color: rgb(100,10,1);
    top: 250px;
    right: 720px;
}
#square10{
    background-color: rgb(134,10,121);
    top: 375px;
    right: 1080px;
}
#square11{
    background-color: rgb(18,100,41);
    top: 375px;
    right: 1080px;     
}
#square12{
    background-color: rgb(144,16,10);
    top: 375px;
    right: 1080px;
}

