.container {
    width: 400px;
    height: 400px;

    margin: auto;
    background: rgb(255,255,255);
}

.row {
    width: auto;
    height: auto;
    background: rgb(10,200,10);
}
.square {
    width: 100px;
    height: 100px;

    margin: 0px;

    outline: 1px solid;
    display: inline-block;
    float: left;
    background: rgb(255,255,255);
}
button,form {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    
}
h1 {
    display: block;
    text-align: center;
    margin: auto;
}